.container {
    flex-direction: column;
}

.charactersGrid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
    margin: 30px 0;
    border-radius: 5px;
    border: 2px solid rgb(37, 37, 37);
}

.characterCard {
    width: 12.5vw;
    height: 15vh;
    text-align: center;
    border: 2px solid #9d3648;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    color: white;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
    text-decoration: none;
}

.characterCard::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s ease;
}

.characterCard:hover::before {
    background-color: rgba(0, 0, 0, 0.4);
}

.characterCard>* {
    position: relative;
    z-index: 2;
    border-color: #b6595e;
}

.characterCard:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.characterName {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f5f5f5;
    padding: 12px 16px;
    margin: 0;
    background: none;
}

.noResults {
    color: white;
    font-size: 1rem;
    background: none;
}
