.mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/Img/Background-Sobre.png');
    background-size: cover;
    background-position: center;    
    position: relative;
    height: 100vh;
}

.mainContent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.mainContent > * {
    position: relative;
    z-index: 2;
}

.section {
    width: 70%;
    margin-left: 15%;
    margin: 27px;
    background: none;
}

@media screen and (max-width: 968px) {
    .section {
        width: 90%;
        margin-left: 5%;
        margin: 10px 0;
    }
    
}

@media screen and (max-width: 580px) {
    .section {
        width: 90%;
        margin-left: 5%;
        margin: 10px 0;
    }
}

