.greetings {
    background-image: url('/Img/Hollow-Knight-Wallpaper.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.greetings::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.greetings > * {
    position: relative;
    z-index: 2;
}

.mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 32px;
}

.blockSection {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-top: 28px;
    flex-wrap: wrap;
}

.wikiButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #b6595e;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.wikiButton:hover {
    background-color: #ff7f7f;
    color: white;
    transform: translateY(-2px);
}